.top-container {
    position: relative;
    min-height: 90vh;
}

.responsive {
    width: 100%;
    height: auto;
}

#cambridge-punting-mobile {
    display: none;
}

#mentor-cruise-banner {
    padding: 20px;
}

img {
    border-radius: 1%;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 18px;
    text-color: white;
}

.text-overlay h1 {
    font-size: 3.5em;
    line-height: 0.5;
    font-family: "Quicksand";
    font-weight: bold;
}

.text-overlay h3 {
    font-size: 1.6em;
    line-height: 0.5;
    font-family: "Quicksand";
    font-weight: lighter;
}


html {
    font-size: 20px;
}

.text {
    margin: 20px;
}

a {
    text-decoration: none;
    color: #03bafc;
}

a:hover {
    text-decoration: none;
    color: #514dff;
}

body {
    font-family: "Quicksand",sans-serif;
    font-size: 20px;
    background: #000;
    color: white;
    margin: 0;
}

#follow-bar .text a {
    align-items: center;
    display: inline-flex;
}

/* Media Query for phone (max-width 767px) */
@media only screen and (max-width: 767px) {
    .text-overlay {
        position: relative;
        top: 0;
        right: 0;
        color: white;
        padding: 20px;
        display: block;
    }


    .text-overlay h1 {
        font-size: 1.5em;
        line-height: unset;
    }

    .text-overlay h3 {
        font-size: 1em;
        line-height: unset;
    }

    h1 {
        font-size: 1.5em;
        font-family: "Quicksand";
        font-weight: bold;
    }

    h3 {
        font-size: 1em;
        font-family: "Quicksand";
        font-weight: lighter;
    }

    #cambridge-punting {
        display: none;
    }

    #cambridge-punting-mobile {
        display: inline-block;
    }

    #mentor-cruise-banner {
        width: 240px;
    }

    .social-icon {
        width: 1.5em;
        margin-right: 5px;
    }

    .top-container {
        min-height: unset;
    }

    #top-container-hi-header, #top-container-build-header {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    #cambridge-punting {
        display: inline-block;
        object-fit: cover;
        height: 90vh;
        width: 100%;
        object-position: left;
    }

    #follow-bar {
        bottom: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        overflow: auto;
        align-items: center;
    }

    #mentor-cruise-banner {
        height: 4em;
    }

    .social-icon {
        height: 3em;
        width: auto;
        margin-right: 5px;
    }

    .top-container, #follow-bar, #about-me {
        max-width: 800px;
        margin: 50px auto;
        margin-top: 0px;
        text-align: center;
    }

    #top-container-hi-header, #top-container-build-header {
        display: block;
    }
    #top-container-build-header {
        margin-bottom: 1em;
    }

    .text-overlay {
        display: none;
    }
}
